DATABASE_URL=postgresql://neondb_owner:
AZURE_SPEECH_SECRET_KEY=your-speech-key
AZURE_SPEECH_REGION=koreacentral
GEMINI_API_KEY=your-api-key
AUTH_LOGIN_ID=set-login-id
AUTH_PASSWORD=set-password
AUTH_ACCESS_TOKEN_SECRET=openssl-rand-base64-32
AUTH_REFRESH_TOKEN_SECRET=openssl-rand-base64-32
