DATABASE_URL=postgresql://neondb_owner:
AZURE_SPEECH_SECRET_KEY=your-speech-key
AZURE_SPEECH_REGION=your-region
AZURE_SPEECH_API_ENDPOINT=https://your-service.services.ai.azure.com/
GEMINI_API_KEY=your-api-key
AUTH_LOGIN_ID=set-login-id
AUTH_PASSWORD=set-password